<div id="pageContentHeader">
	Welcome aboard
	<div id="subhead">This Application was created with Ruby on Rails</div>
</div>

<h1>Getting started</h1>
<hr />
<b>Here&rsquo;s how to get rolling:</b>

<ol>
	<li>Use <code>Jobs</code> to create a new Reminder for your friend/co-worker/etc.</li>
	<li>Fill out the Form<br />
		Or Create A <code>Job</code> From a Template!</li>
	<li>Submit the <code>Job</code></li>
	<li>And never worry again about birthdays greetings of a friend!</li>
</ol>