<h1>Login</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

LOGIN FORM
</table>
<%= render 'form' %>

<br />

<%= link_to 'Login', new_user_path %>
