<!DOCTYPE html>
<html>
<head>
  <title>Reminder</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
DEPLOYED VIA CAPISTRANO!
<%= yield %>


</body>
</html>
